
    body {
        background-color: #3E362F;
        }
    hr   {

      border-style: none;
      border-top-style: dotted;
      border-color: #CCD1E4;
      border-width: 6px;
      width: 5%;

      }

      h1 {color: #FE7E6D;

      }

      h2 {color: #2F3A8F;

      }

      h3 {color: #2F3A8F;

      }
