
    body {
        background-color: #3E362F;
        color: #A39E92;
        }

    a {
        color: #5A5D59;
    }
    hr   {

      border-style: none;
      border-top-style: dotted;
      border-color: #CCD1E4;
      border-width: 6px;
      width: 5%;

      }

      h1 {color: #E7DBD6;

      }

      h2 {color: #E7DBD6;

      }

      h3 {color: #E7DBD6;

      }
