body {
    background-color: #504B38;
    color: #F8F3D9;
  
}



.navbar {
    background-color: #B9B28A;
    z-index: 100;
    position:sticky;
    top: 0%;
}

.nav-link {
    color: #F8F3D9;
    
}

.nav-link:hover {
    color: #FFFFFF;
    
}

.btn-primary {
    background-color: #B9B28A;
    border: #F8F3D9;
     
}

.btn-primary:hover {
    background-color: #EBE5C2;
    border: #F8F3D9;
    color: black;
     
}

.d-block {
    border-radius: 25%;

}