body {
    background-color: #D2C1B6;
    padding: 0%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    color:#1B3C53;
}

.header {
    background-color: #D2C1B6;
    font-family: Tahoma, Verdana, sans-serif;
    position: sticky;
    top: 0;
}

.logo {
    width: 400px;
    margin-left: 20px;
}

.nav {
    display: grid;
    /* Creates columns for each item, sized automatically to fit content */
    grid-template-columns: repeat(4, auto); 
    gap: 20px; /* Adds space between links */
    justify-content: start; 
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 18px;
}

.nav-item {
    display: grid;
    /* Creates columns for each item, sized automatically to fit content */
    grid-template-columns: repeat(6, auto); 
    gap: 20px; /* Adds space between links */
    justify-content: start; 
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
}

.content {
    background-color:#234C6A;
    color: #D2C1B6;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 12px;
}

.content-img {
    border-radius: 20%;
    padding: 12px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color:#D2C1B6;
    color: #1B3C53;
    font-family: Tahoma, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    border-radius: 12px;
    align-items: center; 
}

.copyright {
    justify-content: start; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


ul li a {
  padding: 20px 20px;
  text-decoration: none;
  color: #1B3C53;
}

ul li a:hover {
  color:black;
}
